<div id="app">
  <h1>key输入值测试</h1>
  <select v-model="test2">
    <option v-for="option in options" :key="option.label">{{option.value}}</option>
  </select>
  <transition name="fade" mode="out-in">
    <p :key="test2">{{ test2 }}</p>
  </transition>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<script>
  // 1.支持number | string | boolean (2.4.2 新增) | symbol (2.5.12 新增)
  // 2.其实只要地址值的改变都会触发  事例中包含Object 和Iterable类型
  let vm = new Vue({
    el: "#app",
    data() {
      return {
        options: [
          { label: "number", value: 1 },
          { label: "string", value: "string" },
          { label: "boolean", value: true },
          { label: "Iterable", value: new Set([1, 2, 3]) },
          { label: "Object", value: {} },
          { label: "symbol", value: Symbol("Symbol") },
        ],
        test2: 1,
      };
    },
  });
</script>

<style>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
