<div id="app">
  <h1>ref dom</h1>
  <input type="text" ref="test1">

  <h1>ref 组件</h1>
  <button @click="$refs.test2.fn(1)">点击</button>
  <test ref="test2"></test>

  <h1>ref 重名</h1>
  <test ref="test3"></test>
  <test ref="test3"></test>

  <h1>ref 循环</h1>
  <test v-for="i of 2" ref="test4"></test>
  <span v-for="i of 2" ref="test5"></span>

</div>

<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.js"></script>
<script type="module">
  // 1.ref在普通dom上指向的是dom元素
  // 2.ref在组件上使用，指向的是组件实例
  // 3.可以通过ref传值和触发方法
  // 4.需要在mounted渲染完成阶段才能访问的到，不然就是undefined
  // 5.ref如果名字相同  会访问最后一个   如果是循环的那么this.$refs.组件名会是数组   需要用数组的形式访问
  import Test from "./components/Test2.js";

  let vm = new Vue({
    components: { Test },
    el: "#app",
    created(){
      console.log(this.$refs.test1);//undefined
    },
    mounted(){
      this.$refs.test1.focus();
      this.$refs.test2.number = 6;//通过ref传值改变number数值
      console.log(this.$refs.test3);//后一个test3的组建
      console.log(this.$refs.test4);//数组形式的多个组件实例
      console.log(this.$refs.test5);//数组形式的多个dom实例
    },
    data() {
      return {
        test1: "",
        test2: "",
      };
    },
  });
</script>
