<div id="app">
    <H1>v-show 输入类型</H1>
    <p v-if="0">0</p>
    <p v-if="[]">[]</p>
    <p v-if="null">null</p>
    <p v-if="undefined">undefined</p>
    <p v-if="NaN">NaN</p>
    <p v-if="''">""</p>
    <p v-if>撒都没写 显示</p>
    <p v-if ="">跟上面一样</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
// 1. 输入类型是任意的  跟js中的执行有点不一致的是 [] 经过转Boolean了的
// 2. 如果什么都没写  会让指令不生效 显示状态
    var app = new Vue({
        el: '#app',
        data() {
            return {
                age: '',
            }
        }
    })
</script>